.actionbar__wrapper {
  position: relative;
}

.actionbar__container {
  position: relative;
}

  .actionbar__abilityslot-container {
    position: relative;
    float: left;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    width: 50px;
    height: 50px;
    margin: 1px;

    border: 1px solid #090909;
  }

  .actionbar__abilityslot-container:hover { border-color: #5bd6ff; }
  .actionbar__abilityslot-container--locked:hover { border-color: #ff715b; }
  .actionbar__abilityslot-container:disabled { opacity: 0.6; }

  .actionbar__abilityslot-textnode--ctrl {
    position: absolute;
    top: 3px;
    right: 5px;
    color: white;
    font-size: 9px;
    text-align: right;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .actionbar__abilityslot-textnode--cooldown {
    position: absolute;
    bottom: 1px;
    right: 5px;
    color: yellow;
    font-size: 10px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.actionbar__abilityslot-overlay--cooldown {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0;

  animation: actionbar__abilityslot-animation--cooldown;
  animation-timing-function: linear;
}

  @keyframes actionbar__abilityslot-animation--cooldown {
    from {
      opacity: 0.9;
      transform: scale(0.99);
    }

    to {
      opacity: 0.7;
      transform: scale(0);
    }
  }
