.tooltip__wrapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.tooltip__container {
  max-width: 175px;
  padding: 10px;

  background-color: #151719;
  opacity: 0.8;

  border-radius: 1px;
  border: solid 1px black;

  color: white;
}

.tooltip__segment--title {
  position: relative;
  width: 100%;

  font-size: 13px;
  font-weight: bold;
}

.tooltip__segment--types {
  position: relative;
  width: 100%;
}

  .tooltip__segment--types-span {
    padding: 1px 5px 1px 5px;
    margin: 1px;

    border-radius: 2px;

    font-size: 10px;
    font-weight: bold;
  }

.tooltip__segment--description {
  position: relative;
  width: 100%;
  padding: 5px 1px 1px 3px;

  font-size: 10px;
}

.tooltip__show {
  visibility: visible;
}

.tooltip__hide {
  visibility: hidden;
}
