.inventorypanel__wrapper {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
}

.inventorypanel__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  margin: 0 20px;

  width: 348px;
  height: 508px;

  background-image: url(../../assets/panels/inventoryPanel-background.png);
}
