* {
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
  /* background-color: #1f363d; */
  background-color: #151826;
  background-image: url(../assets/bg/game.png);
  background-repeat: no-repeat;
}
