* {
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
  /* background-color: #1f363d; */
  background-color: #151826;
  /* background-image: url(../assets/bg/game.png); */
  background-repeat: no-repeat;
}

span {
  font-weight: inherit;
  color: inherit;
}

.temp {
  position: absolute;

  bottom: 40px;
  left: 250px;

  width: 64px;
  height: 80px;

  background-image: url(../assets/char/wizard_l.png);
}

.clearfix {
  overflow: hidden;
}

.grid__wrapper {

}

.grid__container {
  display: grid;
  grid-template-columns: auto 940px auto;
  grid-template-rows: 40px auto auto;
}

  .grid__navbar-wrapper {
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1/ 2;

    background-image: linear-gradient(to bottom, #080808, #101010);
  }

  .grid__viewport-wrapper {
    position: relative;
    grid-column:  2 / 3;
    grid-row: 2 / 3;

    width: 940px;
    height: 540px;

    /* background-image: url(../assets/bg/game.png); */
  }

  .grid__bottombar-wrapper {
    position: relative;
    grid-column:  2 / 3;
    grid-row: 3 / 4;
  }

    .grid__bottombar-row-one {
      position: relative;

      margin: 1px auto;
      padding: 1px 0px;

      border-top: 1px solid #090909;
      border-bottom: 1px solid black;
    }

    .grid__bottombar-row-two {
      position: relative;
      border: 1px solid black;
    }
